.extra-medium {
    max-width: 600px;
}

.button-row {
    display:flex;
}

.export-modal-button {
    background-color: rgb(233, 233, 233);
    border-color:rgb(233,233,233);
    border-width: 2px;
}

.approval-table {
    height:1000px;
    /* width: 1400px!important; */
}

.approval-table div {
    direction: rtl;
    
}
.approval-table [role="columnheader"] {
    direction: rtl;
    text-align: right;
}