.filter-bar-input {
    width: 600px;
    direction:rtl;
    /* margin:9px; */
    /* margin-bottom:0px; */
}

.extra-filter {
    direction: rtl;
    display:flex;

    > input {
        width:200px;
    }
    > .filter-bar-input {
        width:300px;
    }

}